@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body{
    background-color: #16161D; /*main #27272e e body #16161D?*/
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    text-align: center;
    display: grid;
    margin: 0;
}
body hr{
    display: inline-block;
    align-items: center;
    width: 50%;
}
a{
    color: #faffc7;
 }
summary{
    font-weight: bold;
}
table{
    align-items: center;
    width: 100%;
    border-left: 1px solid white;
    border-top: 1px solid white;
}
thead{
    border-bottom: 1px solid white;
    padding: 5px 0px 5px 10px;
    font-weight: bold;
}
td{
    padding: 5px 0px 5px 10px;
    border-right:1px solid white;
    border-bottom: 1px solid white;
}
header{
    background-color: #27272e;
    display: block;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: x-large;
    border-bottom: 1px solid white;
    padding: 0px;
}
header a{
    color: white;
    font-size:medium;
    text-decoration: none;
}
.mailer{
    display: inline-block;
    padding: 0px 10px;
    margin: 0px 0px 25px 0px;
    border: 1px solid white;
    border-radius: 10%;
}
main section{
    display: inline-block;
    width: 50%;
    align-items: center;
    text-align: left;
}
.backto{
    text-align: center;
    align-items: center;
    font-size: small;
}
.hid{
    background-color: rgba(255, 255, 255, 0.07);
    text-align: left;
    align-items: center;
    width: 100%;
    display: inline-block;
    padding: 10px 10px 10px 15px;
    margin: 0px;
    border: 1px solid white;
    border-radius: 5px;
}
footer{
    font-size:small;
    padding-top: 20px;
}
.bg{
    padding: 5px 0px 5px 10px;
    background-color: rgba(255, 255, 255, 0.15);
}
.list{
    columns: 2;
    text-align: left;
    display: inline-block;
    align-items: center;
}
.list li{
    padding-right: 100px;
}